.text:hover {
  cursor: pointer;
  color: rgb(0, 89, 255);
}

@media screen and (max-width: '767px'), (max-width: '375px') {
  #top {
    h1 {
      font-size: 24px !important;
      color: black;
      padding-top: 16px;
    }
    p {
      font-size: 14px;
    }

    img {
      margin-left: 4px;
    }
    .img {
      margin-left: 5px;
    }
    .gap {
      column-gap: 20px;
    }
    .text {
      &:hover {
        cursor: pointer;
        color: rgb(0, 89, 255);
      }
    }
  }
}
